:root {
  --abuTerang: #adafb6;
  --abuTua: #5c636b;
  --ijoMuda: #6a7d8a;
  --ijoMuda2: #2f4a52;
  --ijoTua: #172e35;
  --ijoTua2: #101e23;
  --textButton: #FEFEFE;
  --bgButton: #3a3f4a;
  --bgButtonHover: #adafb6;
  --bgArticle: #44616f;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  cursor: url('https://img.icons8.com/?size=23&id=52119&format=png&color=000000'), auto;
  scroll-behavior: smooth;
}

body {
  font-family: poppins, sans-serif;
  overflow-x: hidden;
}

section.all-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
section.container {
  justify-content: center;
  align-items: center;
}
/* #scrollTopsan {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 5vh;
  height: 5vh;
  background-color: #4b91c0;
  z-index: 3;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  transition: 0.3s;
}

#scrollTopsan i {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#scrollTopsan:hover {
  transform: translateY(5px);
}

#scrollTopsan:active {
  transform: translateY(-8px) scale(1.02);
} */

body svg {
  z-index: 1;
}

audio {
  display: none;
}

.toggle-sidebar {
  display: none;
}

/* Navigation Bar */
nav {
  background-color: #adafb6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  z-index: 2;
  top: 0;
  box-shadow: 0 4px 1rem 1px #adafb6;
  text-transform: uppercase;
  transition: 1s;
  text-align: center;
  width: 100%;
}

nav a {
  height: 100px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: space-between;
}

nav ul .mobile-home {
  display: none;
}

.active {
  color: #f4f4f4;
  background: linear-gradient(to top, #adafb6 #5c636b);
}

nav ul li a {
  text-decoration: none;
  color : #444;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100" height="100"><path d="M0 0 C1.70043945 1.0949707 1.70043945 1.0949707 3 3 C3.34057617 6.09448242 3.34057617 6.09448242 3.29296875 9.85546875 C3.28872391 10.51710526 3.28447906 11.17874176 3.28010559 11.86042786 C3.26333693 13.9698691 3.22569099 16.07834846 3.1875 18.1875 C3.17245068 19.61912681 3.1587627 21.05076862 3.14648438 22.48242188 C3.1134403 25.98859288 3.06167167 29.49420254 3 33 C3.56807373 33.07516846 4.13614746 33.15033691 4.72143555 33.2277832 C23.17522116 35.69562495 23.17522116 35.69562495 31.5625 37.375 C33.01849609 37.66503906 33.01849609 37.66503906 34.50390625 37.9609375 C37.88210557 39.36719888 39.02277842 40.92372128 41 44 C41.37898603 46.71449895 41.53956281 49.00980553 41.49609375 51.71484375 C41.49754898 52.4482045 41.49900421 53.18156525 41.50050354 53.93714905 C41.49884921 55.48279811 41.48734002 57.02846445 41.46655273 58.57397461 C41.4376292 60.92698945 41.44594568 63.27774353 41.45898438 65.63085938 C41.45274493 67.13803168 41.44435237 68.64519693 41.43359375 70.15234375 C41.43652939 70.84939926 41.43946503 71.54645477 41.44248962 72.26463318 C41.35376734 76.90992628 40.59058821 80.13140196 38 84 C33.47861218 87.96282456 29.57548293 88.59519288 23.75 88.53125 C22.97366211 88.5350769 22.19732422 88.53890381 21.39746094 88.54284668 C19.7636586 88.54555654 18.1298122 88.53826031 16.49609375 88.52148438 C14.00682104 88.50005871 11.52043382 88.52131466 9.03125 88.546875 C7.43749368 88.54423156 5.84373915 88.53910623 4.25 88.53125 C3.51233398 88.53934692 2.77466797 88.54744385 2.01464844 88.55578613 C-5.64668678 88.41797016 -9.74897499 84.50807891 -14.92578125 79.3046875 C-15.80427734 78.42425781 -16.68277344 77.54382813 -17.58789062 76.63671875 C-18.48701172 75.72535156 -19.38613281 74.81398438 -20.3125 73.875 C-21.69018555 72.49634766 -21.69018555 72.49634766 -23.09570312 71.08984375 C-30.86172095 63.27216727 -30.86172095 63.27216727 -31.3125 59.125 C-31 56 -31 56 -29.375 53.625 C-26.14680775 51.41623688 -24.88280208 51.35286632 -21 52 C-19.24270381 52.80194748 -17.50656417 53.65118924 -15.7890625 54.53515625 C-14.8913916 54.99414307 -13.9937207 55.45312988 -13.06884766 55.92602539 C-12.38612793 56.28043701 -11.7034082 56.63484863 -11 57 C-10.99413376 56.33014572 -10.98826752 55.66029144 -10.98222351 54.97013855 C-10.9183902 48.01097968 -10.83399672 41.05228759 -10.73754883 34.09350586 C-10.70425257 31.49493557 -10.67623546 28.89629213 -10.65356445 26.29760742 C-10.62010549 22.56657681 -10.56779271 18.83621939 -10.51171875 15.10546875 C-10.50532883 13.93976852 -10.4989389 12.7740683 -10.49235535 11.57304382 C-10.47256119 10.49214981 -10.45276703 9.4112558 -10.43237305 8.29760742 C-10.42126999 7.34496506 -10.41016693 6.39232269 -10.39872742 5.41081238 C-10 3 -10 3 -8.69172668 1.19233704 C-5.85756962 -0.80519038 -3.33857762 -0.35770474 0 0 Z " fill="#000000" transform="translate(43,4)"/></svg>');
}

nav ul li i {
  margin-right: 10px;
  border-right: solid 2px #444;
  padding-right: 10px;
}

nav ul li a:hover {
  color: #f4f4f4;
  background-color: #6a7d8a;
}

nav ul li a:active {
  color: #f4f4f4;
  background-color: #5c636b;
  cursor: wait;
}

/* Navigation Bar Mobile */
ul.sidebar {
  display: none;
}

/* Header */
header {
  height: 105vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #dbdbdb;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: -200px;
  /* background-color: #9ACBD0; */
  background-image: url("../img/content/bg-header.svg");
  position: relative;
  gap: 20px;
}

.img-elmt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxxxx {
  position: absolute;
  overflow: hidden;
  width: 210px;
  height: 210px;
  display: flex;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.boxxx {
  width: 100%;
  padding: 0 15dvh;
  height: 100px;
  background-color: #fff;
  transition: 0.3s ease-in-out;
  animation: roll 10s infinite linear;
  box-shadow: 0 0 60px rgb(255, 255, 255);
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

header img {
  width: 200px;
  border-radius: 5%;
  mask-image: rgba(0, 0, 0, 0.10);
  filter: blur(1px) brightness(0.8) grayscale(1);
  transition: 0.3s ease-in-out;
  z-index: 1;
}

header img:hover {
  transform: scale(1.1);
  filter: blur(0) brightness(1) grayscale(0);
}

header h1 span {
  height: auto;
  font-size: 2.2rem;
  transition: 0.3s ease-in-out;
}

header h1 span:hover {
  color: #DDEB9D;
  font-size: 2.3rem;
}

header p {
  font-size: 1.2rem;
  font-weight: 300;
  user-select: none;
}

/* header svg.svg-etc {
  position: absolute;
  bottom: 3;
  transform: translateX(23em)  translateY(10em);
} */

.wavee {
  background-image: url('../img/content/bg-header-or-main.svg');
  background-size: cover;
  background-position: center;
  height: 165vh;
  width: 100%;
  bottom: 50vh;
  position: absolute;
}

.wavee2 {
  background-image: url('../img/content/bg-head-or-main-a.svg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  bottom: 10vh;
  position: absolute;
}

section.container-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.my-skills {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  place-items: center;
  max-width: 1200px;
  background-color: #adafb6;
  padding: 20px;
  z-index: 1;
  border-radius: 10px;
  transition: 0.5s;
}

section.my-skills:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 4px 1rem 1px #adafb6;
}

section.my-skills h2 {
  font-size: 3rem;
  color: #fff;
  text-shadow: 0 0 10px #a4a4a4;
  text-align: center;
  position: relative;
  text-transform: uppercase;
}

section.my-skills h2::after {
  content: " ";
  position: absolute;
  height: 5px;
  width: 0;
  left: 0;
  bottom: 10px;
  background-color: #5c636b;
  transition: width .3s;
  z-index: -1; 
}

section.my-skills h2:hover:after {
  width: 100%;
  text-shadow: 0 0 10px #a4a4a4;
}

section.my-skills .container {
  display: flex;
  gap: 1.1rem;
  height: 30vh;
}

section.my-skills .container article {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  justify-content: space-around;
  background-color: #5c636b;
  gap: 3px;
  text-align: justify;
}

.lebarinbtn {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10px 0 0;
}

section.my-skills .container article .lebarinbtn .icon {
  display: flex;
  align-items: center;
}

section.my-skills .container article .lebarinbtn .icon img {
  height: 100px;
}

section.my-skills .container article .lebarinbtn .content-ticle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.my-skills .container article .lebarinbtn .content-ticle p {
  flex: 1;
}

section.my-skills .container article .lebarinbtn .content-ticle span {
  color: #101e23;
  border: solid 3px;
  border-radius: 50px;
  width: 110px;
  text-align: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  flex: 0.2;
}

section.my-skills .container article .lebarinbtn .content-ticle span:hover {
  background-color: #6a7d8a;
  color: #dbdbdb;
  border: solid 3px #6a7d8a;
}

section.my-skills .container article .lebarinbtn .content-ticle h3 {
  font-size: 1.4rem;
}

section.my-skills .container article .lebarinbtn .content-ticle h3::after {
  content: " ";
  position: absolute;
  width: 3px;
  bottom: auto;
  right: auto;
  height: 0;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
  background-color: #2f4a52;
  transition: .3s ease-in-out;
}

section.my-skills .container article .lebarinbtn .content-ticle h3:hover::after {
  height: 2rem;
}

section.my-skills .container article .pushinkk {
  display: flex;  
  justify-content: center;
  align-items: center;
}

section.my-skills .container article .pushinkk button {
  border: solid 2px #202020;
  background-color: #6a7d8a;
  color: #eaeaea;
  padding: 5px;
  border-radius: 7px;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

section.my-skills .container article .pushinkk button:hover {
  background-color: #101e23;
}

section.my-skills .container article .pushinkk button:hover:active {
  background: linear-gradient(to bottom, #101e23 60%, #6a7d8a 80%);
}

.wev-background {
  width: 100%;
  height: 120vh;
  background-image: url('../img/content/polygon2.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 0;
  top: 300dvh;
}

.wev-background2 {
  width: 100%;
  height: 150vh;
  background-image: url('../img/content/polygon.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 0;
  top: 150dvh;
}

.wev-cross-main {
  background-image: url('../img/content/wev-cros-main.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 250vh;
  background-color: none;
  position: absolute;
  top: 190vh;
  rotate: 150deg;
  translate: -200px 200px;
}

main {
  gap: 20px;
  background-color: #6a7d8a;
  /* background-image: url('../img/content/bg-main.svg'); */
  height: 300dvh;
}


section.my-activities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  translate: 0 55vh;
}

.arrow-svg {
  translate: -2dvh -133dvh;
}

.arrow-svg .hidden-arrow820 {
  translate: -15dvh -5dvh;
}

.center-arrow {
  translate: -5dvh 0;
}

section.my-activities h2 {
  font-size: 3rem;
  border-right: solid 2px #A5BFCC;
  border-left: solid 2px #A5BFCC;
  padding: 0 20px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  font-family: "Poppins", cursive;
}


section.my-activities h2:hover {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

section.my-activities .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 200vh;
}

section.my-activities .container article {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30dvh;
  flex: 1;
}

.var-coding {
  display: flex;
  flex-direction: column;
  left: 1150px;
  width: 400px;
  height: 27dvh;
  border-right: #202020 solid 4px;
  padding: 0 5dvh 0 5dvh;
  text-align: justify;
  background: linear-gradient(to right, #5c636b00, #adafb6);
  justify-content: space-around;
  gap: 1dvh;
}

.var-coding h3 {
  height: 3dvh;
  font-size: 2.5rem;
}

.var-coding p {
  font-size: 1.5rem;  
}

.var-draw {
  left: 1150px;
  width: 400px;
  height: 180px;
  border-left: #202020 solid 4px;
  padding: 0 0 0 5vh;
  background: linear-gradient(to left, #5c636b00, #adafb6);
}

.var-draw h3 {
  text-align: start;
  font-size: 2.5rem;
}

.var-draw p {
  font-size: 1.5rem;  
}

.var-games {
  left: 1150px;
  width: 48dvh;
  height: 39dvh;
  border-right: hsl(0, 0%, 13%) solid 4px;
  padding: 0 5vh 0 5dvh;
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: center;
  gap: 1dvh;
  background: linear-gradient(to right, #5c636b00, #adafb6);
}

.var-games h3 {
  text-align: center;
  font-size: 2.5rem;
  height: 4.5dvh;
}

.var-games p {
  font-size: 1.5rem;  
}

.var-games a {
  text-decoration: none;
  background-color: var(--bgButton);
  color: #eaeaea;
  padding: 5px;
  text-transform: capitalize;
  border-radius: 5px;
  transition: .2s ease-in-out;
  user-select: none;
  text-align: center;
}

.var-games a:hover {
  background-color: var(--bgButtonHover);
  color: var(--ijoTua2);
}

.var-games a:active {
  background-color: var(--textButton);
  color: #a4a4a4;
}

section.my-activities .container article .img-coding {
  overflow: hidden;
  width: 500px;
  height: 300px;
  border-radius: 25px;
  transition: .4s ease-in-out;
}

section.my-activities .container article .img-coding:hover {
  box-shadow: 0 0 15px 3px rgba(255, 255, 255, 0.25);
}

section.my-activities .container article .img-coding img {
  object-position: 0 -2.9em;
  transition: .4s ease-in-out;
  filter: blur(1px) brightness(0.5);
  transform: scale(1.08);
}

section.my-activities .container article .img-coding img:hover {
  transform: scale(1.19) rotate(5deg);
}

section.my-activities .container article .img-draw {
  overflow: hidden;
  width: 500px;
  height: 300px;
  border-radius: 25px;
  transition: .4s ease-in-out;
  order: 1;
}

section.my-activities .container article .img-draw:hover {
  box-shadow: 0 0 15px 3px rgba(255, 255, 255, 0.25);
}

section.my-activities .container article .img-draw img {
  object-position: 0 -2.9em;
  transition: .4s ease-in-out;
  filter: blur(1px) brightness(0.5);
  transform: scale(1.08);
}

section.my-activities .container article .img-draw img:hover {
  transform: scale(1.19) rotate(5deg);
}

section.my-activities .container article .img-games {
  width: 500px;
  height: 300px;
  border-radius: 25px;
  transition: .4s ease-in-out;
  overflow: hidden;
}

section.my-activities .container article .img-games:hover {
  box-shadow: 0 0 15px 3px rgba(255, 255, 255, 0.25);
}

section.my-activities .container article .img-games img {
  object-position: 0 -1.9em;
  transition: .4s ease-in-out;
  filter: blur(1px) brightness(0.5);
  transform: scale(1.08);
  width: 600px;
}

section.my-activities .container article .img-games img:hover {
  transform: scale(1.19) rotate(2deg);
}

section.my-information {
  display: flex;
  justify-content: center;
}

section.my-information section.my-information-panel {
  position: absolute;
  justify-content: center;
  max-width: 1400px;
  translate: 0 -7dvh;
  background-color: #101e23;
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  color: #eaeaea;
  z-index: 1;
}

section.my-information .box-container {
  display: flex;
  height: 10dvh;
  justify-content: space-around;
  align-items: center;
  gap: 10vh;
  flex: 1;
}

section.my-information .box-container .content-title {
  display: flex;
  align-items: center;
  gap: 0.5vh;
  font-size: 1.5rem;
  background-color: #2f4a52;
  border-radius: 10px;
  width: 31%;
  height: 6dvh;
  transition: .2s ease-in-out;
  color: #eaeaea;
  cursor: pointer;
}

section.my-information .box-container .content-title:hover {
  background-color: #5c636b;
  color: #fff;
}

section.my-information .box-container .content-text {
  font-size: 1.2rem;
}

.content-title-arrow {
  padding: 2dvh;
}

section.my-information .box-container .content-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5dvh;
  border: #5c636b solid 2px;
  gap: 10px;
  padding: 2px 7px;
  cursor: pointer;
  color: #5c636b;
  transition: .2s ease-in-out;
  text-decoration: none;
  color: #5c636b;
  transition: .2s ease-in-out;
  user-select: none;
  width: 15vh;
}

section.my-information .box-container .content-button a:hover {
  background-color: #5c636b;
  color: #eaeaea;
}

span.material-symbols-outlined {
  display: none;
}

.bg-footer {
  width: 100%;
  height: 100dvh;
  background-image: url('../img/content/bg-footer.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.bg-footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.69);
}

footer {
  padding: 3vh;
  background-color: #adafb6;
  width: 100%;
  text-align: center;
}

/* Arrow */
.hidden-arrow-default {
  display: none;
}


/* Responsive */
@media screen and (max-width: 1559px) {
  .all-container {
    width: 100dvh;
  }
  header {
    background-position-y: -60px;
  }
  .flex-svg-header {
    translate: 0 -120vh;
  }
  .top-svg-header {
    translate: 0 18dvh;
  }
  main {
    height: 260vh;
  }
  section.container-skills {
    translate: 0 -10vh;
  }
  section.container-skills section.my-skills .container {
    height: 25dvh;
  }
  section.container-skills section.my-skills .container article {
    justify-content: space-evenly;
  }
  section.my-activities {
    gap: 5dvh;
  }
  section.my-activities .container {
    gap: 0;
    height: 170dvh;
  }
  section.my-activities .container article {
    gap: 25dvh;
  }
  section.my-activities .container article .var-games {
    font-size: .8rem;
    height: 28dvh;
  }
  .var-coding {
    align-items: center;
    justify-content: center;
    gap: 2dvh;
    height: 23dvh;
  }
  .arrow-svg {
    translate: -13dvh -140vh;
  }
  .center-arrow {
    translate: -8dvh -12dvh;
  }
  .bg-footer {
    height: 70vh;
  }
  .wev-background {
    display: none;
  }
  .hidden-arrow {
    display: none;
  }
  section.my-information section.my-information-panel .box-container .content-button a {
    height: 4.5dvh;
  }
}

@media screen and (max-width: 1400px) {
  .all-container {
    width: 100dvh;
  }
  header {
    background-position-y: 5vh;
  }
  .flex-svg-header {
    translate: 0 -125vh;
  }
  .top-svg-header {
    translate: 0 22dvh;
  }
  main {
    height: 220dvh;
  }
  section.container-skills section.my-skills {
    translate: 0 -10vh;
    width: 90%;
  }
  section.my-activities {
    translate: 0 20dvh;
  }
  section.my-activities .container {
    height: 175dvh;
  }
  section.my-activities .container article {
    gap: 7dvh;
  }
  section.my-activities .container article .var-games {
    font-size: .8rem;
  }
  .arrow-svg {
    translate: -30vh -173vh;
  }
  .arrow-svg .hidden-arrow820 {
    translate: 5dvh 1dvh;
  }
  .center-arrow {
    translate: 0 -8dvh;
  }
  .wev-background {
    display: none;
  }
  .hidden-arrow {
    display: none;
  }
  section.my-information section.my-information-panel {
    width: 85%;
  }
}

@media screen and (max-width: 1200px) {
  .flex-svg-header {
    translate: 0 -122dvh;
  }
  .top-svg-header {
    translate: 0 25dvh;
  }
  .arrow-svg {
    translate: -40vh -155vh;
  }
  .var-games {
    width: 35dvh;
  }
  .var-games h3 {
    font-size: 2em;
    height: fit-content;
  }
  .var-games p {
    font-size: 1.6em;
  }
  section.container-skills section.my-skills {
    max-width: 88%;
    translate: 0 5vh;
  }
  section.container-skills section.my-skills .container {
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
  }
  section.container-skills section.my-skills .container article {
    padding: 1dvh 0;
  }
  section.container-skills section.my-skills .container article .lebarinbtn {
    width: 100%;
  }
  main { 
    height: 240dvh;
  }
  section.my-activities {
    translate: 0 50dvh;
  }
  section.my-activities .container {
    height: 155dvh;
  }
  
  section.my-information-panel {
    translate: 0 -7dvh;
    width: 85%;
    left: auto;
    right: auto;
  }
  section.my-information-panel .box-container {
    height: 10dvh;
    align-items: center;
    text-align: justify;
  }
  section.my-information-panel .box-container .content-title {
    height: fit-content;
    gap: 10px;
    padding: 10px;
  }
  .bg-footer {
    z-index: -1;
  }
  section.my-information .box-container .content-title {
    height: 5dvh;
    width: 60%;
    font-size: 1em;
  }
  section.my-information .box-container .content-text {
    width: 80%;
  }
}
@media screen and (max-width: 1158px) {
  .top-svg-header {
    translate: 0 24dvh;
  }
}
@media screen and (max-width: 1060px) {
  .var-games {
    width: 400px;
  }
  .arrow-svg {
    display: none;
  }
  section.my-information .box-container .content-title {
    height: 5dvh;
    width: 80%;
    font-size: 1em;
  }
  section.my-information .box-container .content-text {
    width: 110%;
  }
}

@media screen and (max-width: 982px) {
  .top-svg-header {
    translate: 0 29dvh;
  }
  section.container-skills section.my-skills {
    max-width: 70%;
    translate: 0 -4vh;
  }
  section.container-skills section.my-skills .container article .lebarinbtn {
    width: 100%;
  }
  main {
    height: 250dvh;
  }
  section.my-activities {
    gap: 15dvh;
  }
  section.my-activities .container {
    gap: 10dvh;
    align-items: center;
  }
  section.my-activities .container article {
    gap: 0;
  }
}

@media screen and (max-width: 899px) {
  main {
    height: 270dvh;
  }
  section.container-skills section.my-skills {
    translate: 0 2vh;
  }
  section.my-activities .container article {
    background-color: var(--ijoMuda2);
    padding: 3dvh 0;
    border-radius: 1dvh;
    width: 80%;
  }
  .var-draw {
    order: 1;
    background: none;
    border: none;
    text-align: justify;
    padding: 0 5dvh 0 5dvh;
    width: 100%;
  }
  .var-draw h3 {
    text-align: center;
  }
  .var-coding {
    background: none;
    border: none;
    width: 100%;
  }
  .var-games {
    background: none;
    border: none;
    width: 100%;
  }
  .var-games h3 {
    font-size: 2.5rem;
  }
  .var-games p {
    font-size: 1.5rem;
  }
  .var-games a {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 834px) {
  nav {
    justify-content: space-around;
  }
  ul.navbar {
    display: none;
  }
  .toggle-sidebar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5px;
    border: #5c636b solid 2px;
    cursor: pointer;
    transition: .2s ease-in-out;
    order: 1;
  }
  .toggle-sidebar:hover {
    background-color: #5c636b;
  }
  .toggle-sidebar:active {
    background-color: #4f565e;
  }
  .toggle-sidebar .varnav-span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
  }
  .toggle-sidebar .varnav-span span {
    width: 1.5rem;
    height: 4px;
    background-color: #172e35;
  }
  /* .toggle-sidebar .varnav-span span:active:nth-child(2) {
    animation: togglenavbar .3s ease-in-out;
  }
  @keyframes togglenavbar {
    0% {
      transform: translateY(0deg);
    }
    100% {
      transform: translateY(45deg);
    }
  } */
  header {
    min-height: 100vh;
    width: 100%;
    background-image: url(../img/content/bgh-820.svg);
  }
  .flex-svg-header {
    translate: 0 -120vh;
  }
  .top-svg-header {
    translate: 0 29vh;
  }
  main {
    height: 260dvh;
  }
  section.container-skills {
    translate: 0 -15vh;
  }
  section.my-skills {
    max-width: 85%;
  }
  section.my-skills .container {
    flex-direction: column;
    flex: 1;
  }
  section.my-skills .container article {
    padding: 5px;
  }
  section.my-activities {
    gap: 2dvh;
    translate: 0 70dvh;
  }
  section.my-activities .container {
    height: 5dvh;
    gap: 4dvh;
  }
  .block-arrow {
    display: flex;
  }
  .hidden-arrow820 {
    display: none;
  }
  section.my-activities .container article .img-coding {
    width: 20vh;
  }
  section.my-activities .container article .img-draw {
    width: 20vh;
  }
  section.my-activities .container article .img-games {
    width: 20vh;
  }
  section.my-activities .container article .var-games {
    font-size: .8rem;
  }
  section.my-information section.my-information {
    translate: 0 -9dvh;
    gap: 0;
    width: 100%;
  }
  section.my-information section.my-information-panel {
    width: 85%;
  }
  section.my-information section.my-information-panel .box-container {
    gap: 0;
    height: 15dvh;
    flex-wrap: wrap;
  }
  section.my-information section.my-information-panel .box-container .content-title {
    width: 20dvh;
    gap: 0;
    height: 5dvh;
    font-size: 1rem;
  }
  section.my-information section.my-information-panel .box-container .content-title h1 {
    text-align: center;
    width: 100%;
  }
  section.my-information section.my-information-panel .box-container .content-title .content-title-arrow {
    padding: 5px;
  }
  section.my-information section.my-information-panel .box-container .content-text {
    width: 100%;
    text-align: center;
  }
  section.my-information section.my-information-panel .box-container .content-button a {
    justify-content: center;
    width: 15dvh;
    height: 4dvh;
  }
  .bg-footer {
    height: 20dvh;
  }
}

@media screen and (max-width: 753px) {
  main {
    height: 260dvh;
  }
}

@media screen and (max-width: 590px) {
  .var-games a {
    font-size: 1rem;
  }
  .var-games h3 {
    font-size: 1.8rem;
  }
  .var-games p {
    font-size: 1.6em;
  }
  section.my-skills .container article {
    height: fit-content;
  }
}

/* @media screen and (max-width: 466px) {
  main {
    height: 280dvh;
  }
  .var-draw {
    height: fit-content;
  }
  .var-coding {
    height: fit-content;
  }
  .var-coding h3 {
    height: max-content;

  }
  section.my-activities .container article .var-games {
    height: fit-content;
  }
  .var-games h3 {
    height: fit-content;
  }
} */

@media screen and (max-width: 680px) {
  .flex-svg-header {
    translate: 0 -122dvh;
  }
  .top-svg-header {
    translate: 0 35dvh;
  }
  main {
    height: 310dvh;
  }
  .var-draw {
    height: fit-content;
  }
  .var-coding {
    height: fit-content;
  }
  .var-coding h3 {
    height: max-content;

  }
  section.my-activities {
    translate: 0 90dvh;
  }
  section.my-activities .container article .var-games {
    height: fit-content;
  }
  .var-games h3 {
    height: fit-content;
  }
}


/* About page */
section.about-section {
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex: 1;
}







/* End of about page */







/* kombinasi warna by josyy:
2 warna yang nyambung :
  1.adafb6
  2.5c636b
4 warna yang nyambung :
  1.6a7d8a
  2.2f4a52
  3.172e35
  4.101e23 */